.product_container_top {
    position: relative;
    /* border: 1px solid red; */
}

.product_container_top::after {
    content: ' ';
    position: absolute;
    width: 200%;
    height: 1px;
    background-color: #111111;
    bottom: 2px;
    left: -5px;
}

.product_container_top::before {
    content: '';
    position: absolute;
    background: url('../../Assets/StarIcon_black.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 22px;
    height: 22px;
    left: -10px;
    bottom: -9px;
}



.container_top_heading {
    font-family: "Syne", sans-serif;
    font-size: 40px;
    font-weight: 600;
    font-style: normal;
}

.container_bottom_left {
    overflow: auto;
    /* Enable scrolling when content overflows */
    scrollbar-width: none;
    /* Hide standard scrollbar (for Firefox) */
    -ms-overflow-style: none;
    /* Hide standard scrollbar (for Internet Explorer and Edge) */
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    /* hide scroll bar */
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.container_bottom_left::-webkit-scrollbar {
    display: none;
}

.bottom_left_content {
    width: 190%;

}

.container_bottom_left p {
    font-family: "Work Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
}

.font_bold {
    font-weight: bold !important;
    /* font-size: 18px !important; */
}


.container_bottom_right {
    width: 150%;
    overflow: auto;
    /* Enable scrolling when content overflows */
    scrollbar-width: none;
    /* Hide standard scrollbar (for Firefox) */
    -ms-overflow-style: none;
    /* Hide standard scrollbar (for Internet Explorer and Edge) */
    display: flex;
    gap: 25px;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    /* hide scroll bar */
    scrollbar-width: none;
    -ms-overflow-style: none;

    margin-top: 20px;

}

.container_bottom_right::-webkit-scrollbar {
    display: none;
}

.card_image {
    width: 310px;
    height: 322px;
    position: relative;
}

.prod_img {
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.prod_img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.card_arrow_img {
    position: absolute;
    bottom: 0;
    right: 0;
}

.card_content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 7px;
    padding: 3px;
}

.card_content h2 {
    font-size: 26px;
    font-family: "Syne", sans-serif;
    font-weight: 600;
    line-height: 31.2px;
}

.card_content p {
    color: #16161580;
    font-family: "Work Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 16.42px;
}

.product_filter {
    color: #111111;
    font-family: "Work Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 16.42px;
    margin-bottom: 5px;
    /* padding: 5px; */
    padding-left: 8px;
}

.product_filter select {
    padding: 10px;
}



@media only screen and (min-width: 768px) {
    .container_top_heading {
        font-size: 90px;
        font-weight: 600;
    }


    .product_container_top::after {
        content: ' ';
        position: absolute;
        width: 0;
        height: 0;
    }

    .container_top_heading h1 {
        position: relative;
    }

    .container_top_heading h1::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: #111111;
        bottom: 18px;
        left: 0;
    }

    .product_container_top::before {
        content: '';
        position: absolute;
        background: url('../../Assets/StarIcon_black.svg');
        background-repeat: no-repeat;
        background-size: contain;
        width: 22px;
        height: 22px;
        left: -10px;
        bottom: 7px;
    }

    .container_bottom_left p {
        font-size: 18px;
    }

    .font_bold {
        font-weight: bold !important;
        font-size: 26px !important;
    }

    .bottom_left_content {
        width: 100%;
    }
}